body {
    background: black;
    background-repeat: no-repeat;
    padding-top: 70px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    border-bottom: 2px solid #ccc;
    height: 70px;
    width: 100%;
}
nav li {
    float: left;
    width: auto;
}
nav li a {
    padding: 25px 10px;
    display: block;
}
#brand {
    color: transparent;
    background: url(https://pbs.twimg.com/profile_images/2367930168/image.jpg) no-repeat top left;
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
    
}
nav ul {
    float: right;
    width: auto;
}
